<!-- <button ng-click="isCollapsed=!isCollapsed">hahah</button>
<aside class="main-sidebar" collapse="isCollapsed">
         <section class="sidebar" style="height: auto;">
            <div class="user-panel">
               <div class="pull-left image">
                  <img alt="User Image" class="img-circle" src="assets/images/user2-160x160.jpg">
               </div>
               <div class="pull-left info">
                  <p>Alexander Pierce{{55+55}}</p>
                  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
               </div>
            </div>
            <form class="sidebar-form" method="get" action="#">
               <div class="input-group">
                  <input type="text" placeholder="Search..." class="form-control" name="q">
                  <span class="input-group-btn">
                  <button class="btn btn-flat" id="search-btn" name="search" type="submit"><i class="fa fa-search"></i>
                  </button>
                  </span>
               </div>
            </form>
            <button ng-click="show()"></button>
            <ul class="sidebar-menu" >
               <li class="header">MAIN NAVIGATION</li>
               <li>
                  <a href="pages/widgets.html">
                  <i class="fa fa-th"></i> <span>Department</span>
                  <small class="label pull-right bg-green">new</small>
                  </a>
               </li>
               <li>
                  <a href="pages/widgets.html">
                  <i class="fa fa-th"></i> <span>Faculty</span>
                  <small class="label pull-right bg-green">new</small>
                  </a>
               </li>
               <li>
                  <a href="pages/widgets.html">
                  <i class="fa fa-th"></i> <span>Medium</span>
                  <small class="label pull-right bg-green">new</small>
                  </a>
               </li>
               <li>
                  <a href="pages/widgets.html">
                  <i class="fa fa-th"></i> <span>Standard</span>
                  <small class="label pull-right bg-green">new</small>
                  </a>
               </li>
               <li>
                  <a href="pages/widgets.html">
                  <i class="fa fa-th"></i> <span>Student</span>
                  <small class="label pull-right bg-green">new</small>
                  </a>
               </li>
               <li>
                  <a href="pages/widgets.html">
                  <i class="fa fa-th"></i> <span>Subject</span>
                  <small class="label pull-right bg-green">new</small>
                  </a>
               </li>
               <li>
                  <a href="pages/calendar.html">
                  <i class="fa fa-calendar"></i> <span>Student</span>
                  <small class="label pull-right bg-red">3</small>
                  </a>
               </li>
               <li>
                  <a href="pages/mailbox/mailbox.html">
                  <i class="fa fa-envelope"></i> <span>Master</span>
                  <small class="label pull-right bg-yellow">12</small>
                  </a>
               </li>
            </ul>
         </section>
      </aside> -->