

<navbar></navbar>
<sidebar></sidebar>

<!-- <header class="hero-unit" id="banner"> -->
      
      <!--     <h1>ERP!</h1>
         <p class="lead">Welcome TO ERP </p>
         <img src="assets/images/difference-between-ERP-CRM-WebERP41-1024x877.png" alt="ERP"> -->
<div class="content-wrapper" style="min-height: 903px;">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
         Dashboard
         <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="active">Dashboard</li>
      </ol>
   </section>
   <!-- Main content -->
   <section class="content">
      <h1>ERP</h1>
      <div class="row">
         <div class="col-sm-9">
            <div class="box box box-primary">
               <div class="box-header with-border">
                  <h3 class="box-title">Results</h3>
                  <div class="box-tools pull-right">
                     <button class="btn btn-box-tool" type="button">
                     </button>
                  </div>
                  <!-- /.box-tools -->
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                  The body of the box
               </div>
               <!-- /.box-body -->
            </div>
         </div>
         <notification>
</notification>

      </div>
   </section>
</div>

<!-- <div class="container">
   <div class="row">
     <div class="col-lg-12">
       <h1 class="page-header">Features:</h1>
       <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
         <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
       </ul>
     </div>
   </div>
   
   <form class="thing-form">
     <label>Syncs in realtime across clients</label>
     <p class="input-group">
       <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
       <span class="input-group-btn">
         <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
       </span>
     </p>
   </form>
   </div> -->
<!-- <footer></footer> -->

