

<navbar></navbar>
<sidebar></sidebar>
<div class="content-wrapper" style="min-height: 903px;">
   <div class="container">
<h3 class="box-title">Medium</h3>
      <div class ="row">
         <div class="col-sm-6">
            <form name="form">
               <div class="box box box-primary">
                  <div class="box-header with-border">
                     <h3 class="box-title">Medium Master</h3>
                     <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool">
                        </button>
                     </div>
                     <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                     <label > Medium</label>
                     <input type="text" placeholder="Enter Medium" class="form-control" ng-model="MediumMaster.newMedium"><br >
                     <button type="submit" class="form-control col-sm-3 btn btn-primary" ng-click="MediumMaster.addMediums()">Submit</button>
                  </div>
                  <!-- /.box-body -->
               </div>
            </form>
         </div>
         <div class="col-sm-5">
            <div class="box box box-primary">
               <div class="box-header with-border">
                  <h3 class="box-title">Listing Of Data</h3>
                  <div class="box-tools pull-right">
                     <button type="button" class="btn btn-box-tool">
                     </button>
                  </div>
                  <!-- /.box-tools -->
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                    <div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection class="grid"></div>
               </div>
               <!-- /.box-body -->
            </div>
         </div>
      </div>
   </div>
</div>

